<%# encoding: utf-8 %>
---
title: "FAQ"
---

<div class="faq-header">
	<div class="faq-header-logo-container">
		<a class="faq-header-logo-link" href="/">
			<style>
				html.dark .faq-svg-path1 { fill: #282c34 }
				html.dark .faq-svg-path2 { fill: #29b784 }
				html.dark .faq-svg-path3 { fill: #fff }
			</style>

			<svg height="216" viewBox="0 0 216 216" width="216" xmlns="http://www.w3.org/2000/svg">
				<g fill="none">
					<path class="faq-svg-path1" d="m201.762971 52.3911204-87.778865 67.4119626c-3.83279 2.929223-9.134542 2.929223-12.967332 0l-87.7788648-67.4119626c-3.64815718-2.7895226-5.13309463-7.6041582-3.69590617-11.9832934 1.43718847-4.3791352 5.47903447-7.355439 10.05987387-7.4078133h175.6574781c4.606437-.0073449 8.702846 2.9479684 10.176472 7.3417127 1.473625 4.3937444-.004837 9.2440751-3.672856 12.049394z" fill="#bfe3d5" stroke="#48494d" stroke-width="9.43" />
					<path class="faq-svg-path2" d="m197.646011 26h-179.2820036c-10.14540155.0110586-18.36401343 8.2393596-18.3640074 18.385657v128.248725c.01104313 10.138473 8.22642391 18.354574 18.3640074 18.365618h126.3740256c2.158309 0 4.152668-1.151545 5.231822-3.020859 1.079155-1.869313 1.079155-4.172403 0-6.041717-1.079154-1.869314-3.073513-3.020859-5.231822-3.020859h-126.3740256c-3.4669624-.005516-6.2761164-2.814917-6.2816326-6.282183v-113.510141l85.7287569 65.366772c6.0205323 4.591465 14.3672233 4.591465 20.3877553 0l85.718738-65.366772v113.500121c-.005516 3.467267-2.81467 6.276667-6.281632 6.282184h-25.046383c-2.158308 0-4.152667 1.151545-5.231822 3.020859-1.079154 1.869313-1.079154 4.172403 0 6.041717 1.079155 1.869314 3.073514 3.020859 5.231822 3.020859h25.046383c10.137583-.011045 18.352964-8.227146 18.364007-18.365619v-128.2487244c-.005511-10.1384793-8.216411-18.3590639-18.353989-18.3756376zm1.462709 21.6319529-88.163265 67.2604441c-1.694659 1.29448-4.045973 1.29448-5.740631 0l-88.1632656-67.2604441c-1.5886273-1.2192719-2.2394142-3.3056171-1.6257505-5.211963.6136636-1.9063459 2.3592951-3.221135 4.3608155-3.284515h176.4267166c2.032528-.0074195 3.84343 1.2822802 4.501125 3.2056401.657695 1.9233598.015692 4.0519806-1.595745 5.2908379z" fill="#48494d" />
					<path d="m56 108c0-28.718807 23.281193-52 52-52s52 23.281193 52 52-23.281193 52-52 52-52-23.281193-52-52z" fill="#29b784" />
					<path class="faq-svg-path2" d="m108 167c-32.0325155 0-58-25.967485-58-58 0-32.0325155 25.9674845-58 58-58 32.032515 0 58 25.9674845 58 58-.03314 32.018778-25.981222 57.96686-58 58zm0-104.5062198c-25.6846759 0-46.5062198 20.8215439-46.5062198 46.5062198 0 25.684676 20.8215439 46.50622 46.5062198 46.50622 25.684676 0 46.50622-20.821544 46.50622-46.50622-.033124-25.6709431-20.835277-46.4730959-46.50622-46.5062198z" fill="#48494d" />
					<path class="faq-svg-path3" d="m137.299347 88.6744337c1.08885 1.0741555 1.700653 2.5316774 1.700653 4.0515336 0 1.5198563-.611803 2.9773782-1.700653 4.0515337l-30.929547 30.543095c-1.087746 1.075246-2.56371 1.679404-4.102796 1.679404-1.539087 0-3.0150502-.604158-4.1027967-1.679404l-15.4647736-15.271547c-2.2659117-2.237601-2.2659116-5.865467.0000002-8.103068 2.2659118-2.2376 5.9396807-2.2376 8.2055926 0l11.3670115 11.224985 26.831785-26.4965323c2.264086-2.2325783 5.931438-2.2325783 8.195524 0z" fill="#f9fbfc" />
				</g>
			</svg>
		</a>
	</div>
	<div class="faq-header-item">
		<a class="faq-header-link" href="/">VMail</a>
	</div>
  <div class="faq-header-item">
		<a class="faq-header-link faq-header-link-active" href="/faq.html">FAQ</a>
	</div>
	<div class="faq-header-item-full"></div>
	<div class="faq-header-item">
		<a class="faq-header-github-link" href="https://github.com/le0pard/vmail" target="_blank" rel="noopener noreferrer">
			<svg class="faq-header-github">
				<use href="#github-svg-icon" />
			</svg>
		</a>
	</div>
</div>

<div class="faq-center-container">
	<div class="faq-container">
		<div class="faq-body">
			<h2>Frequesntly Asked Questions</h2>
			<p class="faq-text">Everything you need to know about VMail</p>

			<div class="faq-list">

				<h4 class="faq-question">What is Vmail?</h4>
				<p class="faq-answer-middle">Email clients use different rendering standards. This is why your email can be displayed not as you designed it. You need to check that your message code won't cause rendering issues.</p>
				<p class="faq-answer">VMail (Validate Email) check HTML & CSS email template content in search of problematic elements. For each it finds, it displays the list of email clients that lack support for it or support it only partially.</p>

				<h4 class="faq-question">Can VMail render email template in different email clients?</h4>
				<p class="faq-answer">Nope, VMail cannot do this. It is using database with email clients limitations about different HTML and CSS rules. Based on this database it parse your HTML template and provide report for it</p>

				<h4 class="faq-question">Where VMail get informations about email clients limitations?</h4>
				<p class="faq-answer">VMail collect the data on support for particular HTML & CSS rules from <a href="https://www.caniemail.com/">Caniemail.com</a></p>

				<h4 class="faq-question">What to do, if I have EML/RAW message (a files containing the email header and body with attachments)?</h4>
				<p class="faq-answer">VMail do not designed to parse <a href="https://en.wikipedia.org/wiki/Email#Filename_extensions">EML</a>/RAW email message to get HTML content from it. For this purpose you need to use separate service, which can do this job for you. One of the best option is <a href="https://mailtrap.io/">Mailtrap</a>: it provide similar report functionality for emails on FREE plan (you need to use Mailtrap SMTP server to send this emails for check). More info you can read in <a href="https://help.mailtrap.io/article/20-test-email-template">this article</a></p>

				<h4 class="faq-question">Why does VMail ignore external stylesheets?</h4>
				<p class="faq-answer-middle">There are three ways to include styles within an email: using external stylesheets, embedded styles, or inline styles. While external stylesheets are a great option for web design, they aren't the best option for email design—many webmail clients block links to external stylesheets</p>
				<p class="faq-answer-middle">Embedded styles are becoming increasingly popular due to the rise of mobile and associated popularity of responsive design techniques, but they do have their limitations. Since embedded styles are placed in the placed in the &lt;head&gt; of HTML documents, and some email clients, like Gmail, strip out most of the CSS styles in the &lt;head&gt;, the result is a royal mess in those inboxes</p>
				<p class="faq-answer-middle">Inline styles are applied directly to HTML elements in each line of HTML—and are generally the safest way to ensure rendering compatibility across various email clients. However, inline styles can be time-consuming to write and a bit challenging to manage</p>
				<p class="faq-answer-middle">While it's entirely possible to hand code inlined CSS from the start, it’s time consuming and difficult to maintain. Luckily, there are some solutions</p>
				<ul>
					<li><a href="https://alter.email/">Alter.Email</a></li>
					<li><a href="https://app.postdrop.io/">Postdrop</a></li>
					<li><a href="http://premailer.dialect.ca/">Premailer</a></li>
					<li><a href="https://premailer.io/">Premailer.io</a></li>
					<li><a href="https://putsmail.com/inliner">PutsMail CSS Inliner</a></li>
					<li><a href="https://templates.mailchimp.com/resources/inline-css/">MailChimp's CSS Inliner</a></li>
					<li><a href="https://www.campaignmonitor.com/resources/tools/css-inliner/">Campaign Monitor's CSS Inliner</a></li>
					<li><a href="https://get.foundation/emails/inliner.html">Zurb's Responsive Email Inliner</a></li>
				</ul>
				<p class="faq-answer">More info how to build email template you can get from <a href="https://www.smashingmagazine.com/2021/04/complete-guide-html-email-templates-tools/">this article</a></p>

				<h4 class="faq-question">Does VMail have API?</h4>
				<p class="faq-answer">Nope, it doesn't. VMail fully work in your browser and do not have any backend/server to process your API requests</p>

				<h4 class="faq-question">Does VMail works offline?</h4>
				<p class="faq-answer">Yes, it is! You can visit app without internet and browser should serve it without problem (only functionality "Sample HTML/CSS" will not available in offline mode)</p>

				<h4 class="faq-question">Is this tool free?</h4>
				<p class="faq-answer">Yes, it is fully free and <a href="https://github.com/le0pard/vmail">open source</a></p>

			</div>
		</div>
	</div>
</div>
