<div id="footerAudioPlayer" class="footer-audio-player footer-audio-player__hidden" data-controller="audio" data-turbo-permanent>
  <div class="footer-audio-player-cover" data-audio-target="cover"></div>
  <div class="footer-audio-player-container" data-audio-target="container"></div>
  <button class="footer-audio-player-close-button" aria-label="Close podcast audio" data-action="click->audio#closePlayer">
    <%= svg_sprite 'close' %>
  </button>
</div>
