<div class="row prm">
  <% if defined?(paginate) && paginate %>
    <div class="pagination right">
      <% if prev_page %>
        <%= link_to '&laquo; Позже', prev_page, class: 'button' %>
      <% end %>
      <% if next_page %>
        <%= link_to 'Раньше &raquo;', next_page, class: 'button' %>
      <% end %>
    </div>
  <% end %>
</div>