@charset "UTF-8"

@import "normalize.css/normalize"

\:root
  --baseColor: #181c32
  --bgColor: #f9fafb
  // header
  --headColor: #5e6278
  --headHoverColor: #04c8c8
  --headBgColor: #fff
  // button
  --buttonColor: #fff
  --buttonBgColor: #0bb783
  --buttonBgHoverColor: #04aa77
  --buttonBgActiveColor: #00afaf
  // split
  --splitColor: #7e8299
  --splitHoverColor: #04c8c8
  --splitBgColor: #f5f8fa
  --splitBgHoverColor: #dcfdfd
  --splitBorderColor: #e4e6ef

\:root.dark
  --baseColor: #fff
  --bgColor: #151521
  // header
  --headColor: #92929f
  --headHoverColor: #0bb783
  --headBgColor: #1e1e2d
  // button
  --buttonColor: #fff
  --buttonBgColor: #0bb783
  --buttonBgHoverColor: #04aa77
  --buttonBgActiveColor: #00afaf
  // split
  --splitColor: #cdcdde
  --splitHoverColor: #0bb783
  --splitBgColor: #1b1b29
  --splitBgHoverColor: #1c3238
  --splitBorderColor: #323248


html
  font-size: responsive 14px 18px
  font-range: 420px 1440px

body
  font-family: system-ui
  font-weight: 400
  line-height: 1.5rem
  background-color: var(--bgColor)
  color: var(--baseColor)

.parser-controller
  height: 100%

.parser-container
  height: 100%



@import "svg_icons"
@import "codemirror"
@import "sw_notification"
