@charset "UTF-8"

@import "normalize.css/normalize"

\:root
  --baseColor: rgba(0,0,0,.87)
  --bgColor: #f0f0f0
  --headColor: #fff
  --btnColor: rgba(255,255,255,.87)
  --splitColor: rgba(0,0,0,.065)
  --splitColorHover: rgba(0,0,0,.265)
  --splitBorderColor: rgba(0,0,0,.15)

\:root.dark
  --baseColor: rgba(255,255,255,.87)
  --bgColor: #2e3e4e
  --headColor: #354759
  --btnColor: rgba(255,255,255,.87)
  --splitColor: rgba(0,0,0,.065)
  --splitColorHover: rgba(0,0,0,.265)
  --splitBorderColor: rgba(0,0,0,.15)


html
  font-size: responsive 14px 18px
  font-range: 420px 1440px

body
  font-family: system-ui
  font-weight: 400
  line-height: 1.5rem
  background-color: var(--bgColor)
  color: var(--baseColor)

.parser-controller
  height: 100%

.parser-container
  height: 100%



@import "svg_icons"
@import "codemirror"
@import "sw_notification"
