<%# encoding: utf-8 %>

<div data-controller="parser" class="parser-controller" data-parser-worker-url-value="<%= external_pipeline_manifest_value(:webpack, ['ww.js', 'src']) %>">
  <div data-parser-target="appContainer" class="parser-container"></div>
</div>
