<%# encoding: utf-8 %>

<div data-controller="parser" class="parser-controller" data-parser-worker-url-value="<%= asset_pack_path('ww.js') %>">
  <div data-parser-target="appContainer" class="parser-container"></div>
</div>
